
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;900&display=swap');
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Inter', system-ui;
  
}
/*

NAV

*/

li {
  text-decoration: none;
  list-style: none;
}

.nav__bar{
    height: 165px;
    display: flex;
    align-items: center;
    padding: 0 50px;
    font-size: 18px;
    font-weight: 600;
}


.nav__content--wrapper{
  align-items: center!important;
  justify-content: space-between!important;
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
  display: flex;
} 




.blinker__logo{
  height: 90px;
  width: 150px;
  background-color: aqua;
}

.links__ac{
  justify-content: space-between !important;
    display: flex;
    width: 100%;
    max-width: 430px;
    align-items: center !important;
    
}

.home__link{
  text-decoration: none;
  color: orange
  
}

a.link[data-v-48b363cf] {
    color: #6030b1!important;
    text-align: center;
    font-size: 30px;
    margin-bottom: 60px;}

.find__link{
  text-decoration: none;
  color: orange
}

.contact__btn {
    display: flex;
    cursor: pointer;
    max-height: 48px;
    min-height: 48px;
    padding: 12px 20px;
    align-items: center;
    border-radius: 50px;
    background-color: orange;
    color: #fff;
    font-size: 13px;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-decoration: none;
}

.phone__nav  {
  position: relative;
  display: block;
}

.bento-menu {
  width: 27px;
    height: 27px;
    display:none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    box-sizing: content-box;
    padding: 5px;
    cursor: pointer;
    padding-top:2rem;
}
.bento-menu>div[data-v-48b363cf]{
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background-color: #6030b1;
} 

.close__btn  {
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 37px;
  height: 37px;
  background-color: transparent;
  z-index: 2000;
  cursor: pointer;
} 


.menu--open  .menu__backdrop {
background-color: white;
opacity: 0.83;
visibility: visible;
animation: slideInToShow 500ms ease-out;
display:block;
}
.backdrop__container{
width:100%;
height:100%;
position:relative;
display: flex;
flex-direction: column;
justify-content: center;
animation: slideInLeft 700ms linear;
background-color:black;
}

 .menu__backdrop{
  background-color: transparent;
  position: absolute;
  top: 0;
  right:0;
  left:0;
  bottom: 0;
  opacity:0;
  visibility: hidden;
  transform: all 750ms smooth ;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  display:none;
  width:100vw;
  height:100vh;
  z-index: 99999;
 }
 @keyframes slideInLeft{
  0%{
  transform:translate(100%,0)
  }
  100%{
    transform:translate(0%,0)
  }
 }
 @keyframes slideInRight{
  
    0%{
    transform:translate(0%,0)
    }
    100%{
      transform:translate(100%,0)
    }
 }

.menu--open {
  max-height:100vh;
  overflow-y: hidden;
}
.x__button{
font-size: 40px;
width:37px;
height:37px;
position:absolute;
cursor:pointer;
top:40px;
right:40px;
color:#ffa500;
animation: xspin  3s ease;
}
.x__button:hover{
  animation: xspin  3s ease infinite;
  }

@keyframes xspin{
  
  0%{
  transform:rotate(0deg)
  }
  50%{
    transform: rotate(360deg)
  }
  100%{
    transform:rotate(0deg)
  }
}
.menu__links{
  width:100%;
  height:100%;
  /* max-width:700px; */
  /* max-height:700px; */
  font-size:30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.menu__list{
  margin:35px;
}

.menu__link{
  color:#ffa500;
}

/*

Landing PAGE

*/
.full__page{
    /* min-height: 100vh; */
    display: flex;
    flex-direction: column;
}
.Landing__page{
  width:100%;
  height:100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-items: center;
}

.content__wrapper{
  width: 100%;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  text-align: center;
  margin: 0 auto;
}

.header__section{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.header__one {
  text-align: center;
  font-size: 40px;
  margin: 40px 0; 
  width: 100%;
  font-weight: 700;
}

.Orange {
  color:orange;
  padding-top:14px;
}

.sub__header {
  width: 100%;
  height:100%;
  margin-bottom: 40px;
  font-size: 30px;
    font-weight: 700;
    line-height: 1.5;
    color: #0a1f44;
    text-transform: uppercase;
    text-align: center;
 
}

.search__station{
  width:100%;
  max-width:700px; 
  display: flex;
  justify-content: center;
  align-items: center;
}
.input--wrapper {
    width: 100% !important;
    display: flex;
    justify-content: center;
    align-items: center;
}

.input {
  width: 500px;
  height: 100%;
  text-align: center;
  background-color:#f0cf92;
  border-radius: 20px;
  border: 1px solid #0a1f44;
  color: #0a1f44;
  font-size:22px;
  height:70px;
  line-height: 40px;
  outline:none;
}
.not__loading {
    width:100%;
    max-width: 80px;
    height:100%;
    max-height:80px;
    font-size: 58px;
    border: 1px solid  #ffa500;
    background-color: #ffa500;
    border-radius: 20px;
    box-shadow: 7px 7px 14px rgb(134 93 204 / 30%);
    cursor: pointer;
    text-align: center;
    margin-left:20px;
    color: #fff;
    transition: all .25s ease;
    padding:0;
}

/* Responsiveness */
@media (max-width: 1280px) {
  .bento-menu{
    display: none;
  }
  }
@media (max-width: 750px) {
.links__ac{
  display: none;
}
.bento-menu{
  display: block;
  display: flex;
}
}